<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue demo (vanilla js, no ES6 modules)</title>

    <link href="~/bundles/site.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <counter inline-template>
            <form>
                <input type="text" readonly :value="status" />
                <button type="button" :disabled="thinking" @@click.prevent="onClick">Click me!</button>
            </form>
        </counter>

        <p>
            <a href="@await Scripts.UrlAsync("~/bundles/app.js")" target="_blank">Check out the generated javascript source</a>
        </p>
    </div>

    @* references Vue (without bundling) *@
    <environment include="Development">
        <script src="~/lib/vue/dist/vue.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/vue/dist/vue.min.js"></script>
    </environment>

    @* references our Vue application bundle  *@
    <script src="~/bundles/app.js"></script>

    <script>new App().start();</script>
</body>
</html>
