<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TypeScript + ES6 modules demo</title>

    <link href="~/bundles/site.css" rel="stylesheet" />
</head>

<body>
    <form>
        <input id="textbox" type="text" readonly />
        <button id="button" type="button">Click me!</button>
    </form>

    <p>
        <a href="@await Scripts.UrlAsync("~/bundles/main.js")" target="_blank">Check out the generated javascript source</a>
    </p>

    <script src="~/bundles/main.js"></script>
</body>
</html>
