@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    Bundles:
</p>

<ul>
    <li><a href="@await Styles.UrlAsync("/bundles/css/vendor.css")" target="_blank">/css/vendor.css</a></li>
    <li><a href="@await Styles.UrlAsync("/bundles/css/site.css")" target="_blank">/css/site.css</a></li>
    <li><a href="@await Styles.UrlAsync("/bundles/js/vendor.js")" target="_blank">/js/vendor.js</a></li>
    <li><a href="@await Styles.UrlAsync("/bundles/js/site.js")" target="_blank">/js/site.js</a></li>
</ul>

@section Scripts
{
    <script>autoSayHello = true</script>
}